body {
  margin: 0;
  font-family: courier;
  overflow: hidden;
}

h1 {
  color: fuchsia;
}
#splash {
  width: 100vw;
  height: 200vh;
  background-color: rgb(134, 63, 156);
  position: fixed;
  display: flex;
  justify-content: center;
  
}

#splash-text {
  text-align: center;
  margin-top: 10%;
  color: rgb(227, 215, 235);
  font-size: 20px;
}
#click {
  text-decoration: underline;
  cursor: pointer
}

#click:hover {
  font-weight: bold;
}
.column {
  width: 33.33%;
  float: left;
  height: 100vh;
/*   transition: background-color 0.2s; */
}
.text {
  font-size: 3rem;
}


#topcontainer {
  cursor: pointer;
  position: absolute;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 70px;
  top: 0;
  margin-top: 0;
  transform: translateY(-100%);
  transition: transform 1.0s;
  opacity: 0.8;
}
#topcontainer:hover {
  opacity: 1;
  transition: opacity 1s;
}
/* display was flex */
#topcontainer button {
  background-color: transparent;
  padding: 0px;
  font-family: courier;
  font-size: 1.5rem;
  border: none;
}

#topcontainer button:hover {
  background-color: violet;
  transition: background-color 0.2s;
  
}
#topcontainer button:focus {
  border: none;
  outline: none;
  background-color: violet;
}
#display {
  width: 350px;
  background-color: transparent;
  padding-top: 35px;
  font-size: 1.5rem;

}

#scalelist {
  display: none;
  position: absolute;
  background-color: transparent !IMPORTANT;
  margin-top: 20px;
  margin-left: 60px;
}
#scalelist button {
  display: block;
 
}


#mydiv {
  position: absolute; 
  z-index: 9;
  text-align: center;
  bottom: 30px;
  left: 15px;
}
#mydivheader {
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  background-color: magenta;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0.5
}

#mydivheader:hover {
  opacity: 1;
  transform: rotateX(720deg);
  transform: rotateY(360deg);
  transform: rotateZ(1440deg);
  transition: transform 2s, opacity 0.3s;
}

#hiddeninfo {
  display: none;
  font-size: 1rem;
  height: 100px;
  width: 100px;
}

#bottomcontainer {
  position: absolute;
  background-color: violet;
  width: 100vw;
  height: 200px;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  font-size: 1.4rem;
  transform: translateY(170px);
  transition: transform 0.5s, opacity 1s;
  padding-top: 2px;
}


#arrow {
  height: 40px;
  background-color: inherit;
  text-align: center;
  color: white;
  }
#stop {
  display: none;
}

@media (min-width: 807px) {
  #options {
    width: 20px;
    overflow: auto;
  }
}
  .slider {
    width: auto;
  }
#options {
  color: white;
  width: 800px;
  height: auto;
}

.slider {
  appearance: none;
  width: 150px;
  outline: none;
  cursor: pointer;
  
}
#opcolumn1 {
  width: 12.5%;
  float: left;
}
#opcolumn2, #opcolumn3, #opcolumn4 {
  width: 25%;
  float: left;
  text-align: center;
}

#opcolumn5 {
  width: 12.5%;
  float: left;
}

#bottomcontainer button {
  font-family: courier;
  background-color:violet;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 1.1rem;
  border: none;
}
#bottomcontainer button:hover{
  background-color: lightblue;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#bottomcontainer button:focus {
    outline: none;
}
#bottomcontainer button:active {
  background-color: violet;
  box-shadow: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.revealtext {
  opacity: 0;
  transition: opacity 0.9s;
  cursor: pointer;
}
.revealtext:hover {
  opacity: 0.9
}

#reset {
  margin-top: 37px;
  border-radius: 25px;
}
  
